@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary: #4129f6;
    --primary-hover: #2e1f9f;
}

* {
    font-family: 'Onest', sans-serif;
    box-sizing: border-box;
}
 
@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes transform {
    from {
        transform: translateY(-1rem);
    }
    to {
        transform: translateY(0rem);
    }
}

.animate {
    animation: opacity 1s ease, transform 1s ease;
}

body {
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
}

header {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    display: flex;
    justify-content: space-between;
    padding: 2rem 3rem 2rem 3rem;
    font-size: 0.9rem;
    color: white;
    text-shadow: 0 0 1rem black;
}

header a {
    transition: 0.5s;
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
}
header a:hover {
    transition: 0.3s;
    color: rgb(173, 173, 173);
}

header i{
    font-size: 1.2rem;
}

header i.bi-list{
    display: none;
}

header div{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

header div i{
    align-self: center;
    text-align: center;
    justify-content: center;
    justify-self: center;
    cursor: pointer;
}


header div img {
    width: 1.5rem;
    margin-right: 3rem;
}

header #logo {
    width: 1.6rem;
    display: none;
}

#menu{
    z-index: 1002;
    transition: 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transform: translateX(-100%);
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 8rem 8rem 4rem 4rem;
}

#menu #close{
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 2rem;
    cursor: pointer;
}

#menu div {
    transition: 0.5s;
    color: white;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.2rem;
    font-weight: 600;
}

#menu div:last-child a{
    font-weight: 400;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

#menu div:last-child a i{
    font-size: 1.5rem;
}

#menu div a{
    transition: 0.5s;
    color: white;
    text-decoration: none;
}

#menu div a:not(#menu div:last-child a):hover{
    transition: 0.5s;
    transform: translateX(0.5rem);
}

#background-blured{
    transition: opacity 0.5s;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(5px);
}

#titre-section{
    margin: 9rem 0 0 6rem;
    padding: 0;
    font-size: 2rem;
    color: white;
}

@media (max-width: 1024px) {
    header {
        padding: 2rem 2rem 2rem 2rem;
    }
    header i.bi-list{
        display: flex;
    }
    header a{
        display: none;
    }
    header div img{
        display: none;
    }
    header #logo {
        display: flex;
    }
    #titre-section{
        margin: 9rem 0 0 2rem;
        padding: 0;
        font-size: 2rem;
        color: white;
    }
}