#categories {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin: 4rem auto;
    width: fit-content;
}

#categories button {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 100%;
    height: fit-content;
    border-width: 4px;
    border-style: solid;
    border-radius: 0.8rem;
    color: white;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

#categories button::before {
    transition: width 0.5s;
    z-index: -1;
    position: absolute;
    left: 0;
    content: "";
    width: 0%;
    height: 100%;
    opacity: 1;
}

#categories button:hover::before {
    width: 100%;
    transition: width 0.5s;
}


#categories button span {
    font-size: 1.1rem;
    font-weight: 600;
}

#categories button i {
    font-size: 2rem;
}

#categories button:nth-child(1) {
    border-color: rgba(227, 54, 54, 1);
    background-color: rgba(227, 54, 54, 0.5);
}
#categories button:nth-child(1)::before {
    background-color: rgba(227, 54, 54, 1);
}

#categories button:nth-child(2) {
    border-color: rgba(54, 162, 235, 1);
    background-color: rgba(54, 162, 235, 0.5);
}
#categories button:nth-child(2)::before {
    background-color: rgba(54, 162, 235, 1);
}

#categories button:nth-child(3) {
    border-color: rgba(255, 206, 86, 1);
    background-color: rgba(255, 206, 86, 0.5);
}
#categories button:nth-child(3)::before {
    background-color: rgba(255, 206, 86, 1);
}

#categories button:nth-child(4) {
    border-color: rgba(75, 192, 192, 1);
    background-color: rgba(75, 192, 192, 0.5);
}
#categories button:nth-child(4)::before {
    background-color: rgba(75, 192, 192, 1);
}

#categories button:nth-child(5) {
    border-color: rgba(153, 102, 255, 1);
    background-color: rgba(153, 102, 255, 0.5);
}
#categories button:nth-child(5)::before {
    background-color: rgba(153, 102, 255, 1);
}

#categories button:nth-child(6) {
    border-color: rgba(255, 159, 64, 1);
    background-color: rgba(255, 159, 64, 0.5);
}
#categories button:nth-child(6)::before {
    background-color: rgba(255, 159, 64, 1);
}

#categories button:nth-child(7) {
    border-color: rgba(255, 99, 132, 1);
    background-color: rgba(255, 99, 132, 0.5);
}
#categories button:nth-child(7)::before {
    background-color: rgba(255, 99, 132, 1);
}

#categories button:nth-child(8) {
    border-color: rgba(54, 162, 235, 1);
    background-color: rgba(54, 162, 235, 0.5);
}
#categories button:nth-child(8)::before {
    background-color: rgba(54, 162, 235, 1);
}

#categories button:nth-child(9) {
    border-color: rgba(255, 206, 86, 1);
    background-color: rgba(255, 206, 86, 0.5);
}
#categories button:nth-child(9)::before {
    background-color: rgba(255, 206, 86, 1);
}

#categories button:nth-child(10) {
    border-color: rgba(75, 192, 192, 1);
    background-color: rgba(75, 192, 192, 0.5);
}
#categories button:nth-child(10)::before {
    background-color: rgba(75, 192, 192, 1);
}

#categories button:nth-child(11) {
    border-color: rgba(153, 102, 255, 1);
    background-color: rgba(153, 102, 255, 0.5);
}
#categories button:nth-child(11)::before {
    background-color: rgba(153, 102, 255, 1);
}

#categories button:nth-child(12) {
    border-color: rgba(255, 159, 64, 1);
    background-color: rgba(255, 159, 64, 0.5);
}
#categories button:nth-child(12)::before {
    background-color: rgba(255, 159, 64, 1);
}