#categories {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: fit-content;
    margin: 4rem 6rem;
    gap: 1rem;
}

#categories button {
    transition: 0.5s;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    border: none;
    background-color: transparent;
    color: rgb(185, 185, 185);
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 500;
}

#categories button:hover {
    transition: 0.5s;
    color: rgb(255, 255, 255);
    transform: translateX(0.5rem);
}