#film {
    width: 100vw;
    height: 100vh;
    position: relative;
    padding-top: 12rem;
    display: flex;
    margin-bottom: 8rem;
}

#film * {
    animation: opacity 1s ease, transform 1s ease;
}

#main-content {
    left: 6rem;
    margin-top: 0rem;
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 4rem;
    width: 80%;
    height: fit-content;
    text-shadow: 0 0 1rem black;
}

#cover {
    width: 20rem;
    height: 30rem;
    border-radius: 1rem;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.8);
}

#infos{
    display: flex;
    flex-direction: column;
    color: white;
}

#titre {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: 800;
    padding: 0;
}

#sous-titre {
    font-size: 1.4rem;
    margin-bottom: 0.7rem;
    font-weight: 500;
}

#note {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#badges {
    margin-top: 0.5rem;
    margin-bottom: 3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

#badges span {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    font-weight: 800;
    padding: 0.1rem 0.4rem;
    border: 3px solid #ffffff;
    border-radius: 0.5rem;
}

#badges #langage {
    background-color: rgb(255, 255, 255);
    font-weight: 800;
    color: black;
}

#badges #qualite {
    background-color: rgba(255, 255, 255, 0);
    
    font-weight: 800;
    color: rgb(255, 255, 255);
}

#actions{
    display: flex;
    width: auto;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

#actions button{
    cursor: pointer;
    padding: 0.1rem 1.1rem;
    border-radius: 0.8rem;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: 0.5s;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

#actions #play {
    color: white;
    background-color: var(--primary);
    text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.385);
}

#actions #play:hover {
    background-color: var(--primary-hover);
}

#actions #add-list {
    background-color: #ffffff16;
    border: 3px solid white;
}

#actions #add-list:hover {
    background-color: #ffffff;
    color: black;
    border: 3px solid white;
}

#actions i {
    font-size: 2rem;
}

#cinema {
    transition: 1s;
    z-index: 1001;
    position: fixed;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 6rem;
}

#player-container {
    position: relative;
    width: 80%;  /* 80% de la largeur de la fenêtre */
    padding-bottom: 35%;  /* Ratio 16:9 (9/16 * 100 = 56.25%), ajuster si nécessaire */
    height: 0;
    max-width: 100%;
}

#my-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cinema button {
    position: absolute;
    top: 2rem;
    left: 3rem;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    gap: 0.5rem;
}



@media (max-width: 1024px) {
    #film{
        padding-top: 8rem;
    }
    #main-content {
        left: auto;
        width: fit-content;
        justify-self: center;
        flex-direction: column;
        gap: 1rem;
        align-items: center;
        padding: 0 2rem;
    }

    #cover {
        width: 15rem;
        height: 22rem;
    }

    #infos {
        text-align: center;
    }

    #titre {
        font-size: 1.5rem;
        margin-bottom: 0.5rem;
    }

    #sous-titre {
        font-size: 1.1rem;
    }

    #note {
        font-size: 1rem;
        margin-bottom: 1rem;
    }

    #badges {
        justify-content: center;
        margin-bottom: 1.5rem;
        order: 2;
    }

    #actions {
        flex-direction: row;
        width: max-content;
        align-self: center;
        order: 1;
        margin-bottom: 3rem;
    }

    #actions button {
        font-size: 1rem;
    }

    #synopsis {
        order: 3;
    }   
}